body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1f1f1f, #0a0a0a);
    color: white;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.titulo {
    font-size: 40px;
    color: #58a6ff;
}

.sub {
    font-size: 20px;
    opacity: 0.7;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #222;
    padding: 15px;
    margin: 10px auto;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

li:hover {
    background: #333;
    transform: scale(1.05);
}

button {
    background: #0055ff;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #3a78ff;
    transform: scale(1.05);
}
